---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    app.kubernetes.io/name: metacontroller
  name: metacontroller
  namespace: metacontroller
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: metacontroller
  serviceName: ""
  template:
    metadata:
      labels:
        app.kubernetes.io/name: metacontroller
    spec:
      serviceAccountName: metacontroller
      containers:
      - name: metacontroller
        image: metacontrollerio/metacontroller:v4.8.0
        command: ["/usr/bin/metacontroller"]
        args:
        - --zap-log-level=4
        - --discovery-interval=20s
        livenessProbe:
          httpGet:
            port: 8081
            path: /healthz
        readinessProbe:
          httpGet:
            port: 8081
            path: /readyz
  volumeClaimTemplates: []
