# Override args for development mode.
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: metacontroller
  namespace: metacontroller
spec:
  template:
    spec:
      containers:
        - name: metacontroller
          args:
            - --zap-devel
            - --zap-log-level=5
            - --discovery-interval=5s
            - --apply-strategy=server-side-apply
