---
name: Static Checks
on: [pull_request]
jobs:
  golangci-lint:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
        version: latest
        args: --timeout 10m --enable errorlint,gofmt,goimports,gosec,whitespace,bodyclose,dogsled,durationcheck,errorlint,exhaustive,exportloopref,goconst,gocritic,gosec,importas,misspell,nilerr --exclude=G108
  docker-image-for-linting:
    runs-on: ubuntu-22.04
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version-file: 'go.mod'
        cache: true
    - name: Install GoReleaser
      uses: goreleaser/goreleaser-action@v4
      with:
        distribution: goreleaser
        version: latest
        install-only: true
    - name: build image
      run: make image
    - name: Save image
      run: |
        docker save --output metacontroller-lint.tar metacontrollerio/metacontroller:dev
    - uses: actions/upload-artifact@v3
      name: Save metacontroller image
      with:
        name: metacontroller-lint-image
        path: metacontroller-*.tar
        retention-days: 1
  trivy-scan:
    runs-on: ubuntu-22.04
    needs: [docker-image-for-linting]
    steps:
    - name: Download metacontroller images
      uses: actions/download-artifact@v3
      with:
        name: metacontroller-lint-image
    - name: Load metacontroller images
      run: |
        docker load --input metacontroller-lint.tar
    - name: Trivy scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: 'metacontrollerio/metacontroller:dev'
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'
  dockle-scan:
    runs-on: ubuntu-22.04
    needs: [docker-image-for-linting]
    steps:
      - name: Download metacontroller images
        uses: actions/download-artifact@v3
        with:
          name: metacontroller-lint-image
      - name: Load metacontroller images
        run: |
          docker load --input metacontroller-lint.tar
      - name: Dockle scan
        uses: erzz/dockle-action@v1
        with:
          image: 'metacontrollerio/metacontroller:dev'
  documentation-test:
    runs-on: ubuntu-22.04
    container:
      image: "michaelfbryan/mdbook-docker-image:latest"
    steps:
      - uses: actions/checkout@v3
      - name: Build mdbook
        run: |
          cd docs
          mdbook build
#  nancy-dependency-scan:
#    runs-on: ubuntu-22.04
#    steps:
#    - name: Check out code into the Go module directory
#      uses: actions/checkout@v3
#    - name: Set up Go 1.x in order to write go.list file
#      uses: actions/setup-go@v3
#      with:
#        go-version-file: 'go.mod'
#        cache: true
#    - name: WriteGoList
#      run: go list -deps -json ./... > go.list
#    - name: Nancy
#      uses: sonatype-nexus-community/nancy-github-action@main
